.col-xs-12
  .page-header
    %h1
      = link_to "#{@section.course.title}:", @section.course
      %br
      = @section.name
.col-xs-12
  - if @section.activities.empty?
    There are no pages!
    %button.btn.btn-primary{ 'data-toggle' => 'modal', 'data-target' => '#add_activity_modal' }
      Click to add some.
  - else
    = render @section.activities.first.show_partial
.modal.fade{ id: 'add_activity_modal', tabindex: -1, role: 'dialog', 'aria-labelledby' => 'Add activity', 'aria-hidden' => true }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal'}
          %span{ 'aria-hidden' => true } &times;
          %span.sr-only Close
        %h4.modal-title New page
      .modal-body
        %p= t('lesson.new_page_description')
      .modal-footer
        %button.btn.btn-default{ type: 'button', 'data-dismiss' => 'modal'} Cancel
        = link_to 'Add quiz', new_quiz_activity_section_path(@section), class: 'btn btn-default'
        = link_to 'Add material', new_lesson_activity_path(@section), class: 'btn btn-primary'
