= form_for @course do |f|
  = f.label :title
  = f.text_field :title
  = f.label :subject
  = f.text_field :subject
  = f.label :topic
  = f.text_field :topic
  = f.label :wiki
  = f.text_area :content
  = f.submit 'Save'

