.col-xs-8
  = form_for @course do |f|
    .input-group
      = f.label :title
      = f.text_field :title
      = f.label :subject
      = f.text_field :subject
      = f.label :topic
      = f.text_field :topic
    = f.text_area :content, class: 'form-control', rows: '25'
    = f.submit 'Save'
    = f.submit 'Preview', name: 'preview'
