.col-xs-12.col-md-10.col-lg-8
  .page-heading
    %h1
      = @course.title
      .small
        Subject: #{@course.subject}
        Topic: #{@course.topic}
  .panel.panel-primary
    .panel-body
      = (@course.page.nil?) ? "" : raw render_wiki(@course.landing_page.content)
.col-xs-12.col-md-2
  = render partial: 'menu', locals: { course: @course }
