%h2 Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  =render partial: 'users/devise_error_messages', locals:{resource: resource}
  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  %div= f.submit "Reset my password"
= render "users/shared/links"
