.jumbotron
  %h1 Problems?
  %p.lead
    = t('help.heading')
  %p
    = t('help.content')
  - if user_signed_in?
    = link_to 'Send feedback', feedback_path, class: 'btn btn-lg btn-primary'
  - else
    = link_to 'Sign in to send feedback', new_user_session_path, class: 'btn btn-lg btn-primary'
  %p
    = t('help.ask_developer')
    = link_to 'View it on github', ENV['REPO_URL'], target: '_blank'
